<div id="divDisplayEnrollments">
    <table class="table">
        <thead>
            <tr>
                <th>Sr.No</th>
                <th>User Name</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Designation</th>
                <th>Earnings</th>
                <th>DOE</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="emp in empList">
                <td ng-bind="$index+1"></td>
                <td ng-bind="emp.UserName"></td>
                <td><span id="spnFirstName" ng-bind="emp.FirstName | uppercase"></span></td>
                <td><span id="spnLastName" ng-bind="emp.LastName | uppercase"></span></td>
                <td><span id="spnDesignation" ng-bind="emp.Designation"></span></td>
                <td><span id="spnSalary" ng-bind="emp.Salary | currency:'&#8377;'"></span></td>
                <td><span id="spnDate" ng-bind="emp.Date | date: 'dd/MM/yyyy'"></span></td>
                <td>
                    <button ng-click="editEnrollment()($index);" title="Edit Record" id="btnEdit" type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-edit"></span>&nbsp;&nbsp;Edit
                    </button>
                    <button ng-click="removeEnrollment()(emp);" title="Delete Record" id="btnRemove" type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;Delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
