<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="empApp">
<head>
    <title>Angular JS - Employee Enrollment</title>
    <script src="../Scripts/angular.min.js" type="text/javascript"></script>
    <script src="../Scripts/jquery-1.9.1.js" type="text/javascript"></script>
    <script src="../Scripts/Main.js" type="text/javascript"></script>
    <script src="../Scripts/EmployeeDirective.js"></script>
    <link href="../Styles/bootstrap.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
    </style>
    <link href="../Styles/bootstrap-responsive.css" rel="stylesheet" type="text/css" />

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="#">Employee Enrollment</a>
            </div>
        </div>
    </div>
    <div class="container" ng-controller="EmpController">
        <div class="hero-unit">
            <p align="center">
                Employee Enrollment Portal
            </p>
        </div>
        <form name="empForm" novalidate ng-submit="AcceptEnrollment()">
            <div id="divUserName" class="row">

                <div class="span2"></div>

                <div id="InfoDisplayDiv" class="span4">
                    <span class="input-block-level">User Name</span>
                    <input ng-disabled="IsItemEditable" unique-emp="EmployeeList" ng-model="UserName" class="span3" type="text" placeholder="User Name" name="UserName" id="txtUserName" required />
                    <span ng-show="empForm.UserName.$invalid">*</span>
                </div>

                <div id="Div4" class="span4">
                    <span class="input-block-level">Employee First Name</span>
                    <input ng-model="FirstName" class="span3" type="text" name="fname" placeholder="First Name" id="txtFName" required />
                    <span ng-show="empForm.fname.$invalid">*</span>
                </div>

            </div>

            <div id="divLastName" class="row">

                <div class="span2"></div>

                <div id="Div2" class="span4">
                    <span class="input-block-level">Employee Last Name</span>
                    <input ng-model="LastName" class="span3" type="text" placeholder="Last Name" name="lname" id="txtLName" required />
                    <span ng-show="empForm.lname.$invalid">*</span>
                </div>

                <div id="Div3" class="span4">
                    <span class="input-block-level">Designation</span>
                    <input ng-model="Designation" class="span3" type="text" placeholder="Designation" name="desig" id="txtDesignation" required />
                    <span ng-show="empForm.desig.$invalid">*</span>
                </div>

            </div>

            <div id="divBtn" class="row">
                <div class="span2"></div>
                <input type="submit" ng-show="!IsItemEditable" class="btn" value="Submit" />
                <div class="span2"></div>
                <input type="button" class="span2" ng-show="IsItemEditable" ng-click="UpdateEnrollment()" id="btnUpdate" value="Update" class="btn" />
            </div>

        </form>

        <div employee-list-directive emp-list="EmployeeList" edit-enrollment="EditItem" remove-enrollment="RemoveEnrollment"></div>
        
    </div>
</body>
</html>
