<div class="container">
    <section id="content" ng-controller="loginController">
        <form name="login.frmLogin" ng-submit="login.SignIn()">
            <h1>Login Form</h1>
            <div>
                <input type="text" ng-model="login.Credentials.UserName" placeholder="User Name" name="UserName" id="txtUserName" required />
                <span ng-show="frmLogin.UserName.$invalid">*</span>
            </div>
            <div>
                <input type="password" ng-model="login.Credentials.Password" type="password" name="pwd" placeholder="Password" id="txtPwd" required />
                <span ng-show="frmLogin.pwd.$invalid">*</span>
            </div>
            <div>
                <input type="submit" value="Log in" />
                <!--<a href="#">Lost your password?</a>
                    <a href="#">Register</a>-->
            </div>
            <div>
                 <span ng-show="login.IsInvalidLogin" class="alert-danger">Invalid domain Credentials</span>
            </div>
        </form>
    </section>
</div>
